html {
  font-family: "Futura", Condensed, Medium;
}
body {
  max-width: 320px;
  margin: auto;
  padding: 0 15px;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  font-family: "Commune";
  padding: 40px 0px 0px 40px;
}
h2{
  font-family: "Commune";
  padding: 0px 0px 0px 40px;
}
h3{
  font-family: "Commune";
  color:white;
  padding: 40px 0px 0px 40px;
}
header {
  background: #c9552d;
  color: #2d2132;
}
div {
  background:#c9552d;
  padding: 5px 60px 40px 40px;
  margin-top: -24px;
}
main{
  background: #2d2132;
}